@use '@scss/variables' as *;


// $section-height: 827px;

.view-model-section {
  position: relative;
  inline-size: 100vw;
  block-size: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__btn {
    position: absolute;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    inline-size: 100px;
    aspect-ratio: 1 / 1;
    backdrop-filter: blur(16.83px);
    background-color: transparent;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    transition: transform $transition-default;

    &::after {
      position: absolute;
      content: '🢒';
      font-size: 100px;
      color: white;
      top: 47%;
      left: 59.5%;
      transform: translate(-50%, -50%) scaleX(1.5);
    }

    &:hover {
      cursor: pointer;
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}
