.case {
    display: flex;
    flex-direction: column;
  
    &-image {
      width: 930px;
      width: 100%;
      border-radius: $case-border-radius;
      object-fit: cover;
      margin-bottom: 16px;
      border: 1px solid $case-border-color;
    }
  
    &-title {
      font-family: $font-family;   
      margin-bottom: 4px;
      font-size: $font-size-large;
      color: $case-text-color;
      font-weight: $font-weight-regular;
      letter-spacing: -0.03em;
      line-height: 1;
      text-transform: uppercase;
    }
  
    &-description {
      font-family: $font-family;
      font-size: $font-size-regular;
      font-weight: $font-weight-light;
      line-height: 1.1;
      letter-spacing: -0.03em;

      p:not(:last-child) {
        margin-bottom: 2px;
      }
    }
  }
  