.case {
  display: inline-flex;
    flex-direction: column;
    width: max-content;
    max-width: 930px;
    height: auto;
    
    &-image {
      width: 100%;
      height: 560px;
      border-radius: $case-border-radius;
      object-fit: cover;
      object-position: center center;
      margin-bottom: 16px;
      border: 1px solid $case-border-color;
      box-sizing: border-box;
      display: block;
    }
  
    &-title {
      font-family: $font-family;   
      margin-bottom: 4px;
      font-size: $font-size-large;
      color: $case-text-color;
      font-weight: $font-weight-regular;
      letter-spacing: -0.03em;
      line-height: 1;
      text-transform: uppercase;
    }
  
    &-description {
      font-family: $font-family;
      color: $case-text-descrption-color;
      font-size: $font-size-regular;
      font-weight: $font-weight-light;
      line-height: 1.1;
      letter-spacing: -0.03em;

      p:not(:last-child) {
        margin-bottom: 2px;
      }
    }
  }