@use '../fonts' as *;

// font
$font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', roboto,
	'Helvetica Neue', arial, 'Noto Sans', 'Liberation Sans', sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$primary-font-family: 'Helvetica', system-ui, -apple-system, 'Segoe UI', roboto,
	'Helvetica Neue', arial, 'Noto Sans', 'Liberation Sans', sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

$decoration-font-family: "Gotham", "Open Sans", "Roboto", !default;

//font-weight
$font-weight-light: 300;
$font-weight-regular: 400;

// font-size
$font-size-micro: 0.625rem;      // 10px
$font-size-min: 1rem;            // 16px
$font-size-regular: 1.125rem;    // 18px
$font-size-average: 1.25rem;     // 20px
$font-size-large: 2.5rem;        // 40px
$font-size-title: 4rem;          // 64px

$font-color-base: rgba(77, 77, 77, 1);
$gray-light: #C6C6C6;
$gray-medium: #B0B0B0;
$gray-dark: #444444;
$color-bg-dark: #191919;
$color-white: #fff;
$color-text-secondary: #959595;
$color-black: #000;
$color-primary: #0BB696;
$color-primary-dark-10: #098971;  // На 10% темнее primary
$color-primary-dark-20: #066856;  // На 20% темнее primary 
$color-primary-dark-25: #055042;  // На 25% темнее primary


// transition
$transition-default: 0.5s ease-in-out;

// duration
$anim-duration-title: 0.4s;
$anim-duration-decor: 0.8s;
$anim-duration-fade: 1.2s;

// input
$input-border-radius: 40px;
$input-bg-color: rgba(241, 244, 247, 1);
$input-font-color: #000;
$bg-input-font-color: rgba(195, 195, 195, 0.8);

$bg-main-color: #fff;
// modal
$font-weight-modal-title: 400;
$font-weight-modal-description: 400;
$font-size-modal-title: 36px;
$modal-title-font-color: rgba(45, 45, 45, 1);



// case
$case-border-radius: 20px;
$case-border-color: #C3C3C3CC;
$case-text-color: #4D4D4D;
$case-text-descrption-color: #2D2D2D;
$case-link-color:#4D4D4D;
$arrow-disabled-color: #c3c3c3cc;
$case-list-margin-top: 60px;
$carousel-padding: 100px;
$carousel-gap: 30px;
$grid-columns: 2;
$grid-template-columns: repeat($grid-columns, 1fr);
$grid-gap: 20px;
$grid-row-gap: 55px;


// labeledTitle
$color-highlight: #055042;
$labeledTitle-grid-column: 320px 1fr;
$labeledTitle-padding-tag: 7px 16px;
$labeledTitle-title-windth: 700px;
$font-color-title: #202021;
