@use '../fonts' as *;

// font
$font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', roboto,
	'Helvetica Neue', arial, 'Noto Sans', 'Liberation Sans', sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$primary-font-family: 'Helvetica', system-ui, -apple-system, 'Segoe UI', roboto,
	'Helvetica Neue', arial, 'Noto Sans', 'Liberation Sans', sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

//font-weight
$font-weight-light: 300;
$font-weight-regular: 400;

// font-size
$font-size-micro: 0.625rem;      // 10px
$font-size-min: 1rem;            // 16px
$font-size-regular: 1.125rem;    // 18px
$font-size-average: 1.25rem;     // 20px
$font-size-large: 2.5rem;        // 40px
$font-size-title: 4rem;          // 64px

$font-color-base: rgba(77, 77, 77, 1);
$font-color-title: #202021;
$color-highlight: #055042;

// transition
$transition-default: 0.5s ease-in-out;

// input
$input-border-radius: 40px;
$input-bg-color: rgba(241, 244, 247, 1);
$input-font-color: #000;
$bg-input-font-color: rgba(195, 195, 195, 0.8);

// case
$case-border-radius: 20px;
$case-border-color: #C3C3C3CC;
$case-text-color: #4D4D4D;
