/*:root {
  --font-family:
    'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
  --primaty-font-family:
    'Helvetica', system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
  --font-size-micro: 10px;
  --font-size-min: 16px;
  --font-size-average: 20px;
  --font-color-base: rgba(77, 77, 77, 1);
}*/

$font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
$primary-font-family: 'Helvetica', system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
$font-size-title: 64px;
$font-size-min: 16px;
$font-weight-light: 300;
$font-color-title: #202021;
$color-highlight: #055042;